*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hero{
	width: 100%;
	height: 200vh;
	background-image: url(../assets/Images/background.jpg);
	background-size: contain;
	background-position: center;
	background-attachment: fixed;	
}

/* Main page logo */

.top{
	display: flex;
	justify-content: center;
	padding: 20px;
}

.logo{
	width: 300px;
	height: 120px;
}

/* category images */

.category img{
	width: 391px;
	height: 277px;
	object-fit: cover;
	position: absolute;
	cursor: pointer;
}
.category img:hover{
	transform: scale(1.1);
	filter: blur(1px);
}
.category p{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: end;
	font-family: 'star jedi';
	color: #C3A850;
	font-size: 50px;
}

.categories{
	margin-top: 20px;
	display: grid;
	grid-template-columns: 391px 391px;
	grid-template-rows: 277px 277px;
	justify-content: center;
	gap: 40px;
}
/* .categories > *{
	/* to prevent hover from triggering in the gaps */
	/* visibility: visible;
	transition: opacity 200ms;
} */
/* .categories:hover > :not(:hover){ */
	/* to make all non hovered items fade */
	/* opacity: 0.5;
} */ 


