*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hero{
	width: 100%;
	height: 100vh;
	background-image: url(../assets/Images/background.jpg);
	background-size: contain;
	background-position: center;	
}

/* Main page logo */
.top{
	display: flex;
	justify-content: center;
	padding: 20px;
}

.logo{
	width: 351px;
	height: 147px;
}

.category-films img{
	width: 391px;
	height: 277px;
	object-fit: cover;
}
.category-people img{
	width: 391px;
	height: 277px;
	object-fit: cover;
}
.category-planets img{
	width: 391px;
	height: 277px;
	object-fit: cover;
}
.category-vehicles img{
	width: 391px;
	height: 277px;
	object-fit: cover;
}
